NODE_ENV = 'development' # development | staging | production

# Application

APP_HOST = 'localhost'
APP_PORT = 3001

# CORS

CORS_ALLOWED_ORIGIN = 'http://localhost:3000'

# Database

DATABASE_URL = ''

REDIS_URL = ''

# JWT

JWT_ACCESS_TOKEN_SECRET = ''
JWT_REFRESH_TOKEN_SECRET = ''

# Bcrypt

BCRYPT_SALT_ROUNDS = 10

# Mail Transport

SMTP_HOST = ''
SMTP_PORT = 467
SMTP_USER = ''
SMTP_PASS = ''
